ReachSwim-handoff.zip
handoff

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
wheels/
.eggs/

# Virtual envs
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_root/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# Env & secrets
.env
.env.*
!.env.example

# Coverage & testing
.coverage
.coverage.*
htmlcov/
.pytest_cache/
nosetests.xml
coverage.xml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
