{% extends "emails/base.html" %}
{% block title %}Thanks for getting in touch{% endblock %}
{% block preheader %}We've got your message. {{ config.success_message }}{% endblock %}
{% block eyebrow %}Message received{% endblock %}
{% block heading %}Thanks, {{ first_name }}.{% endblock %}
{% block content %}
<p style="margin:0 0 16px;">Your message has reached us, and a real person will read it. {{ config.success_message }}</p>
<p style="margin:0;">Thought of something else? Just reply to this email.</p>
{% endblock %}
{% block signoff %}Speak soon,{% endblock %}
{% block help %}{% endblock %}
{% block reason %}You're getting this email because this address was used on the contact form at {{ site_host }}. If that wasn't you, you can ignore it; you won't hear from us again.{% endblock %}
